<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="9" layout="grid">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
          <ng-select [items]="categories"
                     bindValue="code"
                     bindLabel="name"
                     placeholder="Select category"
                     [(ngModel)]="selectedCategory"
                     (ngModelChange)="selectItemChange()"
                     [searchable]="false"> </ng-select>
              </span>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card" (click)="openDetail(product)">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon mr-2"></i>
              <span><b>{{product?.modelName?.en}}</b></span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <div class="product-description">{{product?.variantName?.en}}</div>
          </div>
          <div class="product-grid-item-bottom">
            <img alt="product image" src="{{product?.mockup}}">
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
