<mat-card>
  <!--  <ngb-accordion [closeOthers]="false" activeIds="static-3">-->
  <!--    <ngb-panel id="static-3">-->
  <div>
    <img src="./assets/media/icons/duotune/democom/corpo/icn_braccia.svg">
    <span>Braccia e Polsi</span>
  </div>
  <div>
    <div class="outer">
      <div class="inner">
        <span class="left"><b>Tipologia</b></span>
        <span class="right"><b>Cm</b></span>
      </div>
    </div>
    <div class="outer">
      <div class="inner">
        <span class="left">Spalle Larghezza</span>
        <span class="right" >LarghezzaSpalle</span>
      </div>
    </div>
    <br>
    <div class="outer">
      <div class="inner">
        <span class="left">Bicipite Sinistro Larghezza</span>
        <span class="right">LarghezzaBicipiteSinistro</span>
      </div>
    </div>
    <br>

    <br>
  </div>
  <!--    </ngb-panel>-->
  <!--  </ngb-accordion>-->
</mat-card>
